* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.wrapper-padding {
  padding: 5vh 5vw;
}

.app-content-hero {
  /* border: 2px solid red; */
  min-height: calc(100vh - 5vh);
}

.wrapper-content-hero {
  /* border: 2px solid blue; */
  display: flex;
  min-height: calc(100vh - 5vh);
  /* position: relative; */
  /* overflow: hidden; */
}

.app-left-content-hero {
  /* border: 2px solid green; */
  width: 50%;
  position: relative;
  z-index: 5;
}

.app-left-content-hero-role {
  /* border: 2px solid blueviolet; */
  padding-top: 4rem;
  padding-right: 8vw;
}

.role {
  font-size: calc(4vw + 1em);
  font-family: "Rubik", georgia, serif;
  letter-spacing: 2px;
}

.content-button {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.content-button-form {
  align-self: flex-end;
}

.contact-button-hero {
  border: none;
  /* border: 2px solid black; */
  background: var(--accent-color);
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(124, 77, 255, 0.6);
  color: var(--body-color);
  font-size: calc(1vw + 0.5em);
  text-transform: uppercase;
  padding: 0.6rem 1.5rem;
}

.app-right-content-hero {
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 50%;
  z-index: 20;
}

.app-right-content-hero-img {
  /* border: 2px solid red; */
  position: relative;
  width: 85%;
}

.words-hero {
  /* border: 2px solid red; */
  color: var(--accent-color);
  /* color: var(--primary-color); */
  display: block;
  font-family: var(--title-font);
  font-weight: 600;
  position: absolute;
  letter-spacing: 2px;
  text-transform: uppercase;
  transform: skew(-15deg);
  opacity: 0.2;
  z-index: 10;
}

.words-hero.top {
  color: var(--primary-color);
  top: -15%;
  right: 20%;
  font-size: calc(1vw + 0.5em);
}

.words-hero.top-right {
  top: 0;
  right: 0;
  font-size: calc(1vw + 0.5em);
}

.words-hero.bottom-right {
  bottom: 0;
  right: 0;
  font-size: calc(1vw + 0.8em);
}

.words-hero.bottom-left {
  bottom: -50%;
  left: -100%;
  font-size: calc(10vw + 1em);
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-content-scroll-arrow {
  /* border: 2px solid rgb(126, 11, 30); */
  position: absolute;
  bottom: 35px;
}

.scroll-back {
  /* border: 2px solid red; */
  background-color: var(--primary-color);
  border-radius: 50%;
  color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 60px;
  height: 60px;
  opacity: 0.5;
  position: relative;
  z-index: 10;
}

.scroll-back::before {
  /* border: 2px solid red; */
  content: "";
  background-color: var(--accent-color);
  border-radius: 50%;
  color: var(--body-color);
  width: 60px;
  height: 60px;
  opacity: 0.3;
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 1;
}

.background-section-left {
  background-color: var(--light-prymary-color);
  display: block;
  position: absolute;
  top: 0;
  left: -30%;
  width: 75vw;
  height: 100%;
  transform: skew(-15deg);
  opacity: 1;
  z-index: 2;
}

.background-section-left-two {
  background-color: var(--primary-color);
  border-radius: 0px 0px 14px 0;
  display: block;
  position: absolute;
  top: 0;
  left: -30%;
  width: 85vw;
  height: 70%;
  transform: skew(-15deg);
  opacity: 0;
  z-index: 0;
}

/* About */

.app-content-about-me {
  /* border: 2px solid red ; */
  padding-bottom: 10vh;
}

.app-content-about-me-header {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  padding-top: 180px;
}

.app-content-about-me-photo {
  /* border: 2px solid violet; */
  position: relative;
  width: 15vw;
}

.layer-photo {
  background-color: var(--primary-color);
  border-radius: 14px;
  filter: hue-rotate(50%);
  position: absolute;
  top: -15%;
  right: -15%;
  width: 100%;
  height: 100%;
  opacity: .5;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-content-about-me-title {
  /* border: 2px solid green; */
  position: relative;
  width: 50%;
  /* display: flex; */
}

.app-content-about-me-title::before {
  content: "";
  background-color: var(--accent-color);
  position: absolute;
  bottom: 20%;
  right: -30%;
  width: 100%;
  height: 4px;
}

.span-name {
  font-size: 5vw;
  font-family: "Rubik", georgia, serif;
  letter-spacing: 2px;
}

.h2-name {
  /* border: 2px solid rgb(0, 255, 42); */
  font-size: 10vw;
  font-family: "Rubik", georgia, serif;
  letter-spacing: 2px;
  text-align: end;
}

.contact-button-about {
  border: none;
  /* border: 2px solid black; */
  background: var(--accent-color);
  border-radius: 8px;
  color: var(--body-color);
  font-size: 24px;
  padding: 0.6rem 1.5rem;
}

.app-content-about-me-description {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.wrapper-about-me-description {
  /* border: 2px solid rgb(78, 47, 255); */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 70%;
}

.line-right-about,
.line-bottom-about,
.line-left-about {
  background-color: var(--accent-color);
  display: block;
  position: absolute;
  opacity: .3;
  /* width: 50%; */
  /* height: 10px; */
}

.line-right-about,
.line-left-about {
  /* transform: rotate(90deg); */
  width: 4px;
}

.line-bottom-about {
  right: -5%;
  bottom: 10%;
  width: 70%;
  height: 4px;
}

.line-right-about {
  top: -5%;
  right: -10%;
  height: 60%;
}

.line-left-about {
  top: 15%;
  left: -10%;
  height: 60%;
}

.p-description.sub-title-description {
  letter-spacing: 2px;
  font-size: 1.6rem;
  font-weight: 600;
}

.p-description:not(.p-description:first-child) {
  font-size: 16px;
  margin-top: 5vh;
}

.p-description {
  font-family: "Karla", georgia, serif;
  line-height: 140%;
  letter-spacing: 0.8px;
}

.h3-description {
  font-family: "Rubik", georgia, serif;
  font-size: 2rem;
  letter-spacing: 2px;
  margin-top: 20vh;
  text-align: left;
}

.footer-description {
  font-weight: bold;
}

.content-button-about {
  margin-top: 25vh;
}

/* skills */

.app-content-skills {
  border: 2px solid blue;
  background-color: var(--dark-primary-color);
  color: var(--body-color);
  padding: 10vh 0;
  text-align: center;
}

.h3-skills {
  font-family: var(--title-font);
  font-size: 4rem;
  margin-bottom: 10vh;
  letter-spacing: 3px;
  font-weight: 500;
}

.content-item-skills {
  display: flex;
  justify-content: space-around;
}

.item-skills {
  width: 10%;
}

.item-skills svg {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

/* challenges */

.app-content-challenges {
  /* border: 2px solid rgb(255, 0, 98); */
}

.app-content-challenges-header {
  display: flex;
  justify-content: space-between;
  padding-top: 180px;
}

.span-challenge-name {
  font-size: 64px;
  font-family: "Rubik", georgia, serif;
  letter-spacing: 2px;
}

.h2-frontend-name {
  /* border: 2px solid rgb(0, 255, 42); */
  font-size: 10vw;
  font-family: var(--title-font);
  letter-spacing: 2px;
  text-align: end;
}

.wrapper-content-challenge {
  /* border: 2px solid red; */
  display: flex;
}

.wrapper-content-challenge div {
  margin-top: 5vh;
}

.app-left-content-challenge {
  /* border: 2px solid blue; */
  width: 60%;
}

.h3-challenge {
  font-family: var(--title-font);
  font-size: calc(1vw + 0.8em);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
}

.challenge-description {
  display: flex;
  flex-direction: column;
}

.challenge-description span {
  margin-bottom: 1.5vh;
  font-size: 20px;
}

.challenge-code-img {
  /* border: 2px solid brown; */
  display: flex;
  justify-content: flex-end;
  margin-top: 15vh;
}

.wrapper-code-img {
  width: 60%;
}

.wrapper-code-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.challenge-my-explanation {
  width: 80%;
}

.p-my-explanation {
  font-family: var(--sub-title-font);
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 140%;
}

.app-right-content-challenge {
  /* border: 2px solid rgb(11, 119, 29); */
  display: flex;
  justify-content: center;
  width: 40%;
}

.app-right-content-challenge-img {
  /* border: 2px solid red; */
  width: 40%;
}

.app-right-content-challenge-img img {
  width: 100%;
}

.content-more-link {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

.more-link {
  font-size: 24px;
}

/* personal projects */

.span-work-name {
  font-size: 64px;
  font-family: "Rubik";
  letter-spacing: 2px;
}

.h2-work-name {
  /* border: 2px solid rgb(0, 255, 42); */
  font-size: 10vw;
  font-family: "Rubik";
  letter-spacing: 2px;
  text-align: end;
}

.wrapper-personal-projects {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}

.content-personal-project {
  border: 2px solid green;
  display: flex;
}

.content-personal-project-img {
  width: 50%;
  padding: 2vw 2vh;
}

.content-personal-project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-personal-project-description {
  width: 50%;
  padding: 2vw 2vh;
}
