* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.wrapper-padding {
  padding: 5vh 5vw;
}

.app-content-hero {
  /* border: 2px solid red; */
  min-height: calc(100vh - 5vh);
}

.wrapper-content-hero {
  /* border: 2px solid blue; */
  display: flex;
  min-height: calc(100vh - 5vh);
  /* position: relative; */
  /* overflow: hidden; */
}

.app-left-content-hero {
  /* border: 2px solid green; */
  width: 50%;
  position: relative;
  z-index: 5;
}

.app-left-content-hero-role {
  /* border: 2px solid blueviolet; */
  padding-top: 4rem;
  padding-right: 8vw;
}

.role {
  color: var(--primary-text);
  font-size: calc(4vw + 1em);
  font-family: var(--title-font);
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
}

.content-button {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.content-button-form {
  align-self: flex-end;
  position: relative;
}

.contact-button {
  border: none;
  /* border: 2px solid black; */
  background: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 20px rgba(124, 77, 255, 0.4);
  color: var(--body-color);
  cursor: pointer;
  font-size: calc(1vw + 0.3em);
  font-family: var(--title-font);
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  padding: 0.6rem 1.5rem;
  position: relative;
  z-index: 10;
}

.content-button-form::before {
  content: "";
  background: var(--accent-color);
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: -5%;
  width: 110%;
  height: 100%;
  transform: skewX(0deg);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

/* .content-button-form:hover::before {
  transform: skewX(-15deg);
} */

.contact-button.hero {
  border: none;
  border: 2px solid black;
}

.app-right-content-hero {
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 50%;
  z-index: 20;
}

.app-right-content-hero-img {
  /* border: 2px solid red; */
  position: relative;
  width: 85%;
}

.words-hero {
  /* border: 2px solid red; */
  color: var(--accent-color);
  /* color: var(--primary-color); */
  display: block;
  font-family: var(--title-font);
  font-weight: 600;
  position: absolute;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  transform: skew(-15deg);
  opacity: 0.2;
  z-index: 10;
}

.words-hero.top {
  color: var(--primary-color);
  top: -15%;
  right: 20%;
  font-size: calc(1vw + 0.5em);
}

.words-hero.top-right {
  top: 0;
  right: 0;
  font-size: calc(1vw + 0.5em);
}

.words-hero.right-middle {
  top: 30%;
  left: -10%;
  font-size: calc(1vw + 2em);
  opacity: 0.1;
}

.words-hero.bottom-right {
  bottom: 0;
  right: 0;
  font-size: calc(1vw + 0.8em);
}

.words-hero.bottom-left {
  bottom: -60%;
  left: -70%;
  font-size: calc(10vw + 1em);
  z-index: 100;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-content-scroll-arrow {
  /* border: 2px solid rgb(126, 11, 30); */
  position: absolute;
  bottom: 35px;
}

.scroll-back {
  /* border: 2px solid red; */
  background-color: var(--primary-color);
  border-radius: 50%;
  color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 60px;
  height: 60px;
  opacity: 0.5;
  position: relative;
  z-index: 10;
}

.scroll-back svg {
  position: relative;
  z-index: 10;
}

.scroll-back::before {
  /* border: 2px solid red; */
  /* content: "";
  background-color: var(--accent-color);
  border-radius: 50%;
  color: var(--body-color);
  width: 60px;
  height: 60px;
  opacity: 0.3;
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 1; */
}

.scroll-before {
  background-color: var(--accent-color);
  border-radius: 50%;
  color: var(--body-color);
  width: 60px;
  height: 60px;
  opacity: 0.3;
  position: absolute;
  top: -300%;
  left: 0%;
  z-index: 1;
}

.background-section-left {
  background-color: var(--light-prymary-color);
  display: block;
  position: absolute;
  top: 0;
  left: -30%;
  width: 75vw;
  height: 100%;
  transform: skew(-15deg);
  opacity: 1;
  z-index: 2;
}

.background-section-left-two {
  background-color: var(--primary-color);
  border-radius: 0px 0px 14px 0;
  display: block;
  position: absolute;
  top: 0;
  left: -30%;
  width: 85vw;
  height: 70%;
  transform: skew(-15deg);
  opacity: 0;
  z-index: 0;
}

/* About //////////////////*/

.app-content-about-me {
  /* border: 2px solid red ; */
  padding-bottom: 30vh;
}

.app-content-about-me-header {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  padding-top: 180px;
  position: relative;
}

.app-content-about-me-photo {
  /* border: 2px solid violet; */
  /* position: relative; */
  /* border-radius: 8px; */
  opacity: 0;
  position: sticky;
  top: 50px;
  /* align-self: flex-start; */
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  width: 15vw;
}

.layer-photo {
  background-color: var(--accent-color);
  border-radius: 50%;
  /* clip-path: circle(50% at 50% 50%); */
  /* filter: hue-rotate(50%);
  position: absolute;
  top: 40%;
  left: 15%;
  width: 200px;
  height: 200px;
  opacity: .1; */
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-content-about-me-title {
  /* border: 2px solid green; */
  position: relative;
  width: 50%;
  /* display: flex; */
}

.app-content-about-me-title::before {
  content: "";
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
  right: -30%;
  width: 100%;
  height: 4px;
}

.span-name {
  font-size: 10vw;
  font-family: var(--title-font);
  letter-spacing: var(--letter-spacing);
  /* opacity: 0; */
}

.text {
  opacity: 1;
}

.h2-name {
  /* border: 2px solid rgb(0, 255, 42); */
  font-size: 4vw;
  font-family: var(--title-font);
  letter-spacing: var(--letter-spacing);
  text-align: end;
}

.app-content-about-me-description {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.wrapper-about-me-description {
  /* border: 2px solid rgb(78, 47, 255); */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 70%;
}

.line-right-about,
.line-bottom-about,
.line-left-about {
  background-color: var(--accent-color);
  display: block;
  position: absolute;
  opacity: 0.3;
  /* width: 50%; */
  /* height: 10px; */
}

.line-right-about,
.line-left-about {
  /* transform: rotate(90deg); */
  width: 3px;
}

.line-bottom-about {
  right: -5%;
  bottom: 10%;
  width: 70%;
  height: 3px;
}

.line-right-about {
  top: -5%;
  right: -10%;
  height: 60%;
}

.line-left-about {
  top: 15%;
  left: -10%;
  height: 60%;
}

.p-description.sub-title-description {
  letter-spacing: var(--letter-spacing);
  font-size: 1.6rem;
  font-weight: 600;
}

.p-description:not(.p-description:first-child) {
  font-size: 16px;
  margin-top: 5vh;
}

.p-description {
  font-family: var(--title-font);
  line-height: 140%;
  letter-spacing: 0.8px;
}

.h3-description {
  font-family: var(--title-font);
  font-size: 2rem;
  letter-spacing: var(--letter-spacing);
  margin-top: 10vh;
  text-align: left;
}

.footer-description {
  font-weight: bold;
  margin-bottom: 10vh;
}

.content-button-about {
  margin-top: 25vh;
}

/* skills */

.app-content-skills {
  /* border: 2px solid blue; */
  background-color: var(--primary-color);
  color: var(--body-color);
  padding: 10vh 0;
  text-align: center;
}

.h3-skills {
  font-family: var(--title-font);
  font-size: 4rem;
  margin-bottom: 10vh;
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
}

.content-item-skills {
  display: flex;
  justify-content: space-around;
}

.item-skills {
  width: 6%;
}

.item-skills svg {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

/* challenges */

.app-content-challenges {
  /* border: 2px solid rgb(255, 0, 98); */
  position: relative;
}

/* .app-content-challenges::before {
  content: "";
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  top: 4%;
  left: 7%;
  width: 300px;
  height: 300px;
  opacity: .3;
  z-index: 1;
} */

.circle-challenge {
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  top: -300px;
  right: 0;
  width: 300px;
  height: 300px;
  opacity: 0;
  z-index: 1;
}

.app-content-challenges-header {
  /* border: 2px solid red; */
  /* display: flex; */
  justify-content: space-between;
  padding-top: 20vh;
  /* padding: 10vh 0; */
}

.span-challenge-name {
  font-size: 10vw;
  font-family: var(--title-font);
  letter-spacing: var(--letter-spacing);
}

.h2-frontend-name {
  /* border: 2px solid rgb(0, 255, 42); */
  font-size: 5vw;
  font-family: var(--title-font);
  letter-spacing: 2px;
  margin-left: 30vw;
  /* text-align: center; */
}

.wrapper-content-challenge {
  /* border: 2px solid red; */
  display: flex;
}

.wrapper-content-challenge div {
  /* margin-top: 5vh; */
}

.app-left-content-challenge {
  /* border: 2px solid blue; */
  width: 60%;
  margin-top: 10vh;
}

.app-left-content-challenge div {
  margin-top: 10vh;
}

.h3-challenge {
  font-family: var(--title-font);
  font-size: calc(1vw + 0.8em);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
}

.challenge-description {
  display: flex;
  flex-direction: column;
}

.challenge-description span {
  margin-bottom: 1.5vh;
  font-size: 20px;
}

.challenge-code-img {
  /* border: 2px solid brown; */
  display: flex;
  justify-content: flex-end;
  margin-top: 15vh;
}

.wrapper-code-img {
  width: 60%;
}

.wrapper-code-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.challenge-my-explanation {
  width: 80%;
}

.p-my-explanation {
  font-family: var(--title-font);
  font-size: 16px;
  letter-spacing: var(--letter-spacing);
  line-height: 140%;
}

.app-right-content-challenge {
  /* border: 2px solid rgb(11, 119, 29); */
  display: flex;
  justify-content: center;
  margin-top: 30vh;
  width: 40%;
}

.app-right-content-challenge-img {
  /* border: 2px solid red; */
  position: relative;
  width: 30%;
}

.content-line-challenges {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.line-challenge {
  background-color: var(--accent-color);
  display: block;
  position: absolute;
  opacity: 0.5;
}

.line-challenge.horizontal {
  top: -10%;
  width: 60%;
  height: 3px;
}

.line-challenge.vertical {
  top: -10%;
  width: 3px;
  height: 100%;
}

.app-right-content-challenge-img img {
  width: 100%;
  position: relative;
  z-index: 10;
}

.content-more-link {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  margin-top: 20vh;
  position: relative;
}

.content-lines-custom-link:hover .line-custom-link {
  /* border: 2px solid green; */
  transform: translateX(15%);
}

.content-lines-custom-link:hover .circle-custom-link {
  /* border: 2px solid green; */
  transform: translateX(-15%);
}

.content-lines-custom-link {
  /* border: 2px solid red; */
  position: relative;
}

.line-custom-link,
.circle-custom-link {
  background-color: var(--accent-color);
  display: block;
  position: absolute;
  transition: all 0.4s ease-in-out;
}

.line-custom-link {
  left: 30%;
  bottom: 0;
  width: 100%;
  height: 3px;
}

.circle-custom-link {
  border-radius: 50%;
  bottom: 0;
  left: -15%;
  width: 60px;
  height: 60px;
  opacity: 0.4;
  z-index: 1;
}

.more-link {
  color: var(--primary-text);
  font-size: 24px;
  font-family: var(--title-font);
  position: relative;
  z-index: 10;
}

/* personal projects */

.app-content-personal-projects-header {
  /* border: 2px solid red; */
  padding-top: 30vh;
}

.span-work-name {
  font-size: 10vw;
  font-family: var(--title-font);
  letter-spacing: 2px;
}

.h2-work-name {
  /* border: 2px solid rgb(0, 255, 42); */
  font-size: 4vw;
  font-family: var(--title-font);
  letter-spacing: 2px;
  text-align: center;
}

.wrapper-personal-projects {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
}

.content-personal-project {
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
}

.content-personal-project:first-child {
  /* border: 2px solid brown; */
  flex-direction: row-reverse;
  margin-bottom: 30vh;
}

.content-personal-project-img {
  display: flex;
  justify-content: flex-end;
  /* flex-direction: row-reverse; */
  position: relative;
  width: 40%;
  /* padding: 8vh 8vw; */
}

.content-personal-project-img img {
  border-radius: 14px;
  width: 80%;
  height: 80%;
  object-fit: cover;
  position: relative;
  z-index: 10;
}

.back-img-personal {
  display: block;
  background-color: var(--light-prymary-color);
  border-radius: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 80%;
}

.content-personal-project-description {
  width: 50%;
  padding: 8vh 3vw 3vh;
}

.p-description-personal {
  font-family: var(--title-font);
  font-size: 16px;
}

/* footer ///////////////// */

.wrapper-padding {
  /* border: 2px solid red; */
}

.header-contact {
  text-align: center;
  padding: 3vh;
  margin-bottom: 5vh;
  /* padding-bottom: 5vh; */
}

.header-contact h4 {
  font-family: var(--title-font);
  font-size: 2vw;
  letter-spacing: var(--letter-spacing);
}

.app-content-footer-form-contact {
  /* border: 2px solid rgb(14, 66, 189); */
  display: flex;
  justify-content: center;
  padding: 20vh 0 5vh;
  position: relative;
}

.wrapper-form {
  background-color: var(--light-prymary-color);
  border-radius: 14px;
  /* border: 2px solid black ; */
  padding: 4vh 4vw;
  width: 60%;
}

.form-contact {
  /* border: 2px solid rgb(255, 0, 255); */
  /* color: red; */
  display: flex;
  flex-direction: column;
  /* margin-bottom: 10vh; */
}

.form-contact input {
  background-color: var(--light-prymary-color);
  border: none;
  border-bottom: 2px solid rgb(26, 26, 26);
  /* color: var(--body-color); */
  /* color: red; */
  height: 42px;
  margin-bottom: 3vh;
  padding-left: 1vw;
}

.form-contact input::placeholder {
  color: #878fb9;
}

.form-contact span {
  /* height: 40px; */
  font-family: var(--title-font);
  margin-bottom: 1vh;
}

.content-social {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 10vh; */
  padding-top: 10vh;
}

.social-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8%;
}

.social-item svg {
  width: 100%;
}

.label-social {
  font-family: var(--title-font);
  margin-top: 1vh;
}

.wrapper-padding {
  position: relative;
}

.wrapper-padding:last-child::before {
  content: "";
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45%;
}
