.app-content-nav {
  /* border: 2px solid green; */
  /* background-color: var(--body-color); */
  padding: 2vh 5vw;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.app-nav {
  display: flex;
  justify-content: space-between;
}

.logo-name {
  color: var(--primary-text);
  font-size: calc(1vw + .5em);
  font-family: var(--title-font);
}

.app-content-nav-links {
  /* display: none; */
  /* border: 2px solid blueviolet; */
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  height: 100vh;
  opacity: 1;
  transform: translateX(110%);
  transition: all .3s linear;
}

.app-content-nav-links.show {
  transform: translateX(0);
  opacity: 1;
}

/* .icon-nav:hover ~ .app-content-nav-links {
  transform: translateX(105%);
} */

.back-menu-style {
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: skew(-15deg);
  transform-origin: right;
  transition: all .4s linear;
  z-index: 1;
}

.back-menu-style.show {
  transform: skew(-15deg);
}

.ul-content-links {
  /* color: var(--body-color); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 10;
}

.li-link {
  margin: 6vh 0;
}

.item-link {
  color: var(--body-color);
  font-family: var(--title-font);
  font-size: calc(1.3vw + 1em);

}

.icon-nav {
  /* border: 2px solid brown; */
  /* width: 100px; */
  /* height: 100px; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--body-color);
  z-index: 100;
}


.icon-click-open, .icon-click-close {
  position: absolute;
}

.icon-click-open {
  z-index: 10;
}

.icon-click-close {
  opacity: 0;
}

.icon-click-close.open {
  opacity: 1;
}

